.about {
    //height: 100vh;
    max-width: 900px;
    margin: 0px auto;
    padding-top: 17%;
    @media only screen and (max-width: 768px) { 
        margin: 0px 25px;
        //display: flex;
        // flex-direction: column;
        // align-items: center;
    }
    @media only screen and (max-width: 500px) {
        margin-top: 150px;
    }
    & > .section-heading {
        color: #fff;
    }
    & > .section-heading::after {
        content: "";
        display: block;
        position: relative;
        top: -10px;
        //width: 300px;
        height: 1px;
        margin-left: 120px;
        background-color: #fff;
    }
    & > .section-heading::before {
        content: "01. ";
        color: #f2aa4c;
        margin-right: 5px;
        font-weight: 500;
        font-size: 20px;
    }
    & .about-me-container {
        @media only screen and (min-width: 1024px) {
            display: flex;
        }
        & > .photo-container {
            display: flex;
            justify-content: center;
        }
        & .snippet-container {
            max-width: 600px;
            padding-left: 50px;
            color: #A6A6A6;
            & > h4 {
                color: #fff;
            }
            & > ul {
                padding: 0px;
                display: grid;
                grid-template-columns: repeat(2, minmax(140px, 200px));
                list-style: none;
                padding-top: 15px;
                & > li::before {
                    content: "▹";
                    color: #f2aa4c;
                    margin-right: 10px;
                    font-size: 12px;
                }
            }
        }
    }
}