.navigation-bar {
    position: sticky;
    z-index: 3;
    top: 0px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    height: 70px;
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    &.hide {
        top: -6rem;
    }
    & > .hamburger-menu-icon {
        display: flex;
        justify-content: flex-end;
        width:  100%;
        padding-right: 25px;
        padding: 10px 25px 0 0;
        fill: #fff;

        &.active {
            fill: #F2AA4CFF;
            transition: 400ms;
            & .mobile-friendly-navbar {
                background-color: #000;
                height: 100vh;
                width: 40%;
                counter-reset: item;
                & > .hamburger-svg {
                    transition: all .3s ease-in-out;
                }
                & > svg {
                    float: right;
                }
                & .mobile-navigation {
                    color: white;
                    height: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    & > .mobile-navigation-list {
                        display: flex;
                        flex-direction: column;
                        height: 45%;
                        justify-content: space-between;
                        & > a {
                            counter-increment: item;
                            color: white;
                            text-decoration: none;
                            list-style: none;
                            & > li:hover {
                                transition: 200ms;
                                color: #F2AA4CFF;
                            }
                        }
                        & > a::before {
                            content: "0" counter(item) ".";
                            color: #F2AA4CFF;
                        }
                    }
                    & > a {
                        color: #F2AA4CFF;
                        border: 1px solid #F2AA4CFF;
                        border-radius: 5px;
                        padding: 15px;
                        width: 75px;
                        margin-left: 20px;
                        margin-top: 65px;
                        padding-left: 35px;
                    }
                    & > a:hover {
                        background-color: #252525;
                        transition: 400ms;
                    }
                }
            }
        }
    }
    & > .logo, .navigation-list-container {
        height: 75%;
        padding-top: 20px;
    }
    & > .logo {
        padding-left: 20px;
    }
    & > .navigation-list-container {
        padding-right: 20px;
        & .resume-button {
            padding: 0 30px;
            margin: 0px 20px;
            display: inline-flex;
            border: 1px solid #F2AA4CFF;
            color: #F2AA4CFF;
            border-radius: 3px;
            width: 25px;
            height: 35px;
            justify-content: center;
            align-items: center;
            & > a {
                font-size: 14px;
            }
        }
        & .resume-button:hover {
            cursor: pointer;
            background-color: #252525;
            transition: 400ms;
        }
    }
    & .navigation-list {
        display: inline;
        counter-reset: item;
        & > a {
            display: inline;
            color: black;
            text-decoration: none;
            & > li {
                color: #808080;
                display: inline;
                padding: 10px;
                counter-increment: item;
                font-size: 15px;
            }
            & > li::before {
                content: "0" counter(item) ". ";
                color: #F2AA4CFF;
            }
            & > li:hover {
                color: #F2AA4CFF;
            }
        }
    }
}