.overview {
    padding-top: 35px;
    height: 92vh;
    .overview-container {
        display: flex;
        justify-content: center;
        padding-top: 10%;
        & > .about-text {
            color: #808080;
            & > .tiny-hello-div {
                color: #f2aa4c;
                height: 5px;
                & > h5 {
                    font-size: 15pt;
                }
            }
            & > .name-div {
                height: 30px;
                & > h2 {
                    font-size: 40pt;
                    color: #fff;
                }
            }
            & > .statement-div {
                & > h2 {
                    font-size: 40pt;
                    color: #A6A6A6;
                }
            }
        }
    }
}