.social-icons {
    display: flex;
    max-width: 700px;
    min-width: 250px;
    justify-content: space-between;
    //padding-top: 5%;
    padding: 5% 0 5% 0;
    margin: auto;
    & > a {
        & > svg {
            fill: #808080;
        }
        & > svg:hover {
            fill: #fff;
        }
    }
}