.social-icons {
    display: flex;
    width: 700px;
    justify-content: space-between;
    padding-top: 5%;
    margin: auto;
    & > a {
        & > svg {
            fill: #808080;
        }
        & > svg:hover {
            fill: #fff;
        }
    }
}