.social-icons {
    display: flex;
    width: 700px;
    justify-content: space-between;
    padding-top: 5%;
    margin: auto;
    & > a {
        & > svg {
            & > path:hover {
                fill: none;
            }            
        }
    }
}