.experience {
    @media screen and (max-width: 768px) {
        margin: 175px 25px 0px 25px;
    }
    @media screen and (max-width: 500px) {
        margin: 100px 25px 150px 25px;
    }
    height: 100vh;
    max-width: 700px;
    margin: 200px auto 0px auto;
    color: #A6A6A6;
    & > h2 {
        color: #fff;
    }
    & > h2::after {
        content: "";
        display: block;
        position: relative;
        top: -10px;
        margin-left: 240px;
        height: 1px;
        background-color: #fff;
    }
    & > h2::before {
        content: "02. ";
        color: #F2AA4CFF;
        margin-right: 5px;
        font-weight: 500;
        font-size: 20px;
    }
    & > .experience-container {
        @media screen and (min-width: 769px) {
            display: flex;
        }
        & .job-list {
            position: relative;
            top: 20px;
            display: inline-flex;
            flex-direction: column;
            @media screen and (max-width: 769px) {
                display: block;
                left: 52px;
            }
            & > .button-row {
                height: 50px;
                margin-bottom: 5px;
                background-color: transparent;
                border: none;
                color: #A6A6A6;

                &.active {
                    color: #F2AA4CFF;
                }
            }
            & > .button-row:hover {
                cursor: pointer;
                color: #F2AA4CFF;
                background-color: #111111;
                transition: 200ms;
            }
        }
        & .job-styled-panel {
            position: relative;
            display: inline-flex;
            width: 80%;
            left: 100px;
            @media screen and (max-width: 768px) {
                left: 60px;
            }
            & > .job-content {
                & .work-experience-header {
                    color: #fff;
                    & > .company {
                        color: #F2AA4CFF;
                    }
                }
                & .work-experience-bulletins {
                    & > ul {
                        list-style: none;
                        & > li {
                            padding: 5px 0px;
                        }
                        & > li::before {
                            content: "▹";
                            position: absolute;
                            left: 0;
                            color:#F2AA4CFF;
                        }
                    }
                }
            }
        }
    }
}